 <nav class="mt-2 sm:mt-0">
        <ul class="flex space-x-6">
            <li><a href="#inicio" class="font-semibold text-stone-600 transition-colors duration-300 hover:text-brand-primary"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="#sobre" class="font-semibold text-stone-600 transition-colors duration-300 hover:text-brand-primary"><i class="fa-solid fa-eject"></i> Sobre el Evento</a></li>
            <li><a href="#programa" class="font-semibold text-stone-600 transition-colors duration-300 hover:text-brand-primary"><i class="fa-solid fa-list-check"></i> Programa</a></li>
            <li><a href="#boletas" class="font-bold text-stone-600 transition-colors duration-300 hover:text-brand-primary"><i class="fa-solid fa-ticket"></i> Boletas</a></li>
        </ul>
</nav>